body {
  margin: 0;
  background-color: #228b22;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><g fill-opacity="0.2"><path fill="%23006400" d="M0 50 L50 100 L100 50 L50 0 Z"/><path fill="%23228B22" d="M0 0 L100 0 L100 100 L0 100 Z" stroke-width="2" stroke="%23228B22"/><path fill="%2332CD32" d="M0 50 L50 0 L100 50 L50 100 Z"/></g></svg>');
  background-size: 50px 50px;
  overflow: hidden;
  position: relative;
}

#carCanvas {
  display: block;
  position: absolute;
  z-index: -2;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px);
  width: 100%;
}

#neuralNetworksCanvas {
  background: rgba(185, 185, 185, 0.356);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

#verticalButtons {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#verticalButtons button {
  padding: 9px 5px;
  background: rgba(185, 185, 185, 0.356);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 6px;
  width: 120px;

}

#verticalButtons button:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#verticalButtons button:active {
  transform: translateY(0);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.63);
}

h1{
  color: white;
  font-size: 1.4rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#green{
  color: green;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 0px 1px 0px 1px;
  font-size: 1.7rem;
  border-radius: 3px;
  line-height: 0%;
  backdrop-filter: blur(5px);
  margin-left: 4px;
  margin-right: 4px;
}
#red{
  color: red;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 0px 1px 0px 1px;
  font-size: 1.7rem;
  border-radius: 3px;
  line-height: 0%;
  backdrop-filter: blur(5px);
  margin-left: 4px;
  margin-right: 4px;
}

p{
  color: white;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}